body {
    font: 20px Arial sans-serif;
}

.navbar {
    background-color: #9ADD9B;
}

.plantas-populares {
    background-color: rgb(238, 252, 231);
}

.margin {
    padding: 80px;
    padding-bottom: 80px;
}

.conteudo {
    background-color: #C4FDC5;
}

.col-lg-6 {
    padding-bottom: 50px;
}